#t-2bec62ec-c485-43a9-b7de-b7d1612fdd03 #t-Bg_top {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#t-2bec62ec-c485-43a9-b7de-b7d1612fdd03 #t-Paragraph_8 {
  -ms-transform: rotate(0.0deg);
}
#t-2bec62ec-c485-43a9-b7de-b7d1612fdd03 #t-battery {
  -ms-transform: rotate(0.0deg);
}
#t-2bec62ec-c485-43a9-b7de-b7d1612fdd03 #t-wifi_icon {
  -ms-transform: rotate(0.0deg);
}
#t-2bec62ec-c485-43a9-b7de-b7d1612fdd03 #t-connection_4g {
  -ms-transform: rotate(0.0deg);
}
#t-2bec62ec-c485-43a9-b7de-b7d1612fdd03 #t-time {
  -ms-transform: rotate(0.0deg);
}
#t-2bec62ec-c485-43a9-b7de-b7d1612fdd03 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}