#t-7c2d2bf4-bdf4-4f2c-8c92-75bc08cfecf3 #t-Bg {
  -ms-transform: rotate(0.0deg);
}
#t-7c2d2bf4-bdf4-4f2c-8c92-75bc08cfecf3 #t-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#t-7c2d2bf4-bdf4-4f2c-8c92-75bc08cfecf3 #t-Image_13 {
  -ms-transform: rotate(0.0deg);
}
#t-7c2d2bf4-bdf4-4f2c-8c92-75bc08cfecf3 #t-Image_14 {
  -ms-transform: rotate(0.0deg);
}
#t-7c2d2bf4-bdf4-4f2c-8c92-75bc08cfecf3 #t-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#t-7c2d2bf4-bdf4-4f2c-8c92-75bc08cfecf3 #t-background_top {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#t-7c2d2bf4-bdf4-4f2c-8c92-75bc08cfecf3 #t-menu_button {
  -ms-transform: rotate(0.0deg);
}
#t-7c2d2bf4-bdf4-4f2c-8c92-75bc08cfecf3 #t-Battery {
  -ms-transform: rotate(0.0deg);
}
#t-7c2d2bf4-bdf4-4f2c-8c92-75bc08cfecf3 #t-Wifi {
  -ms-transform: rotate(0.0deg);
}
#t-7c2d2bf4-bdf4-4f2c-8c92-75bc08cfecf3 #t-Signal {
  -ms-transform: rotate(0.0deg);
}
#t-7c2d2bf4-bdf4-4f2c-8c92-75bc08cfecf3 #t-Time {
  -ms-transform: rotate(0.0deg);
}
#t-7c2d2bf4-bdf4-4f2c-8c92-75bc08cfecf3 #t-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#t-7c2d2bf4-bdf4-4f2c-8c92-75bc08cfecf3 #t-Modal_1 {
  -ms-transform: rotate(0.0deg);
}
#t-7c2d2bf4-bdf4-4f2c-8c92-75bc08cfecf3 #t-right_margin {
  -ms-transform: rotate(0.0deg);
}
#t-7c2d2bf4-bdf4-4f2c-8c92-75bc08cfecf3 #t-Icon {
  -ms-transform: rotate(0.0deg);
}
#t-7c2d2bf4-bdf4-4f2c-8c92-75bc08cfecf3 #t-Welcome_text {
  -ms-transform: rotate(0.0deg);
}
#t-7c2d2bf4-bdf4-4f2c-8c92-75bc08cfecf3 #t-Table_1 {
  border-collapse: separate;
}
#t-7c2d2bf4-bdf4-4f2c-8c92-75bc08cfecf3 #t-close_button {
  -ms-transform: rotate(0.0deg);
}
#t-7c2d2bf4-bdf4-4f2c-8c92-75bc08cfecf3 #t-routes_icon {
  -ms-transform: rotate(0.0deg);
}
#t-7c2d2bf4-bdf4-4f2c-8c92-75bc08cfecf3 #t-profile_icon {
  -ms-transform: rotate(0.0deg);
}
#t-7c2d2bf4-bdf4-4f2c-8c92-75bc08cfecf3 #t-walk_buddy_icon {
  -ms-transform: rotate(0.0deg);
}
#t-7c2d2bf4-bdf4-4f2c-8c92-75bc08cfecf3 #t-community_icon {
  -ms-transform: rotate(0.0deg);
}
#t-7c2d2bf4-bdf4-4f2c-8c92-75bc08cfecf3 #t-dog_coin_icon {
  -ms-transform: rotate(0.0deg);
}
#t-7c2d2bf4-bdf4-4f2c-8c92-75bc08cfecf3 #t-shopping_icon {
  -ms-transform: rotate(0.0deg);
}
#t-7c2d2bf4-bdf4-4f2c-8c92-75bc08cfecf3 #t-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#t-7c2d2bf4-bdf4-4f2c-8c92-75bc08cfecf3 #t-logOutIcon {
  -ms-transform: rotate(0.0deg);
}
#t-7c2d2bf4-bdf4-4f2c-8c92-75bc08cfecf3 #t-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#t-7c2d2bf4-bdf4-4f2c-8c92-75bc08cfecf3 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}