#t-7c2d2bf4-bdf4-4f2c-8c92-75bc08cfecf3 #t-Bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-7c2d2bf4-bdf4-4f2c-8c92-75bc08cfecf3 #t-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-7c2d2bf4-bdf4-4f2c-8c92-75bc08cfecf3 #t-Image_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-7c2d2bf4-bdf4-4f2c-8c92-75bc08cfecf3 #t-Image_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-7c2d2bf4-bdf4-4f2c-8c92-75bc08cfecf3 #t-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-7c2d2bf4-bdf4-4f2c-8c92-75bc08cfecf3 #t-background_top {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-7c2d2bf4-bdf4-4f2c-8c92-75bc08cfecf3 #t-menu_button {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-7c2d2bf4-bdf4-4f2c-8c92-75bc08cfecf3 #t-Battery {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-7c2d2bf4-bdf4-4f2c-8c92-75bc08cfecf3 #t-Wifi {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-7c2d2bf4-bdf4-4f2c-8c92-75bc08cfecf3 #t-Signal {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-7c2d2bf4-bdf4-4f2c-8c92-75bc08cfecf3 #t-Time {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-7c2d2bf4-bdf4-4f2c-8c92-75bc08cfecf3 #t-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-7c2d2bf4-bdf4-4f2c-8c92-75bc08cfecf3 #t-Modal_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-7c2d2bf4-bdf4-4f2c-8c92-75bc08cfecf3 #t-right_margin {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-7c2d2bf4-bdf4-4f2c-8c92-75bc08cfecf3 #t-Icon {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-7c2d2bf4-bdf4-4f2c-8c92-75bc08cfecf3 #t-Welcome_text {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-7c2d2bf4-bdf4-4f2c-8c92-75bc08cfecf3 #t-close_button {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#t-7c2d2bf4-bdf4-4f2c-8c92-75bc08cfecf3 #t-routes_icon {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-7c2d2bf4-bdf4-4f2c-8c92-75bc08cfecf3 #t-profile_icon {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-7c2d2bf4-bdf4-4f2c-8c92-75bc08cfecf3 #t-walk_buddy_icon {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-7c2d2bf4-bdf4-4f2c-8c92-75bc08cfecf3 #t-community_icon {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-7c2d2bf4-bdf4-4f2c-8c92-75bc08cfecf3 #t-dog_coin_icon {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-7c2d2bf4-bdf4-4f2c-8c92-75bc08cfecf3 #t-shopping_icon {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-7c2d2bf4-bdf4-4f2c-8c92-75bc08cfecf3 #t-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-7c2d2bf4-bdf4-4f2c-8c92-75bc08cfecf3 #t-logOutIcon {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-7c2d2bf4-bdf4-4f2c-8c92-75bc08cfecf3 #t-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-7c2d2bf4-bdf4-4f2c-8c92-75bc08cfecf3 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}