#s-095aea9e-8de3-4ce6-9386-45ce5a5cdf5a #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-095aea9e-8de3-4ce6-9386-45ce5a5cdf5a #s-route1_container_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-095aea9e-8de3-4ce6-9386-45ce5a5cdf5a #s-routeName_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-095aea9e-8de3-4ce6-9386-45ce5a5cdf5a #s-routeDistance_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-095aea9e-8de3-4ce6-9386-45ce5a5cdf5a #s-routeLikes_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-095aea9e-8de3-4ce6-9386-45ce5a5cdf5a #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-095aea9e-8de3-4ce6-9386-45ce5a5cdf5a #s-routeCoin_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-095aea9e-8de3-4ce6-9386-45ce5a5cdf5a #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-095aea9e-8de3-4ce6-9386-45ce5a5cdf5a #s-details_container {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-095aea9e-8de3-4ce6-9386-45ce5a5cdf5a #s-time {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-095aea9e-8de3-4ce6-9386-45ce5a5cdf5a #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-095aea9e-8de3-4ce6-9386-45ce5a5cdf5a #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-095aea9e-8de3-4ce6-9386-45ce5a5cdf5a #s-distance {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-095aea9e-8de3-4ce6-9386-45ce5a5cdf5a #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-095aea9e-8de3-4ce6-9386-45ce5a5cdf5a #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-095aea9e-8de3-4ce6-9386-45ce5a5cdf5a #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-095aea9e-8de3-4ce6-9386-45ce5a5cdf5a #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-095aea9e-8de3-4ce6-9386-45ce5a5cdf5a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}