#s-4c7fa097-b8fc-4a2e-9382-94d18354b9ef #s-Name {
  position: relative;
}
#s-4c7fa097-b8fc-4a2e-9382-94d18354b9ef #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-4c7fa097-b8fc-4a2e-9382-94d18354b9ef #s-Status {
  position: relative;
}
#s-4c7fa097-b8fc-4a2e-9382-94d18354b9ef #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-4c7fa097-b8fc-4a2e-9382-94d18354b9ef #s-Image_40 {
  -ms-transform: rotate(0.0deg);
}
#s-4c7fa097-b8fc-4a2e-9382-94d18354b9ef #s-show_buddy_list .s-Row_cell_2 {
  position: relative;
}
#s-4c7fa097-b8fc-4a2e-9382-94d18354b9ef #s-show_buddy_list .s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-4c7fa097-b8fc-4a2e-9382-94d18354b9ef #s-show_buddy_list .s-Row_cell_6 {
  position: relative;
}
#s-4c7fa097-b8fc-4a2e-9382-94d18354b9ef #s-show_buddy_list .s-Image_39 {
  -ms-transform: rotate(0.0deg);
}
#s-4c7fa097-b8fc-4a2e-9382-94d18354b9ef #s-show_buddy_list .s-Label_1 {
  -ms-transform: rotate(0.0deg);
}
#s-4c7fa097-b8fc-4a2e-9382-94d18354b9ef #s-Rich_text_9 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 15px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: 85px;
  width: 100px;
  -ms-transform: rotate(0.0deg);
}
#s-4c7fa097-b8fc-4a2e-9382-94d18354b9ef #s-Cancel {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-4c7fa097-b8fc-4a2e-9382-94d18354b9ef #s-ok {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-4c7fa097-b8fc-4a2e-9382-94d18354b9ef #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-4c7fa097-b8fc-4a2e-9382-94d18354b9ef > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}