#s-4c7fa097-b8fc-4a2e-9382-94d18354b9ef #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4c7fa097-b8fc-4a2e-9382-94d18354b9ef #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4c7fa097-b8fc-4a2e-9382-94d18354b9ef #s-Image_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4c7fa097-b8fc-4a2e-9382-94d18354b9ef #s-show_buddy_list .s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4c7fa097-b8fc-4a2e-9382-94d18354b9ef #s-show_buddy_list .s-Image_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4c7fa097-b8fc-4a2e-9382-94d18354b9ef #s-show_buddy_list .s-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4c7fa097-b8fc-4a2e-9382-94d18354b9ef #s-Rich_text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4c7fa097-b8fc-4a2e-9382-94d18354b9ef #s-Cancel {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4c7fa097-b8fc-4a2e-9382-94d18354b9ef #s-ok {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4c7fa097-b8fc-4a2e-9382-94d18354b9ef #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-4c7fa097-b8fc-4a2e-9382-94d18354b9ef > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}