#s-609fce90-5507-48c8-be2e-14a743147f7b #s-Frame_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-609fce90-5507-48c8-be2e-14a743147f7b #s-Recorder_button_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-609fce90-5507-48c8-be2e-14a743147f7b #s-Stop_button_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-609fce90-5507-48c8-be2e-14a743147f7b #s-Stop_icon_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-609fce90-5507-48c8-be2e-14a743147f7b #s-Pause_button_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-609fce90-5507-48c8-be2e-14a743147f7b #s-Pause_icon_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-609fce90-5507-48c8-be2e-14a743147f7b #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-609fce90-5507-48c8-be2e-14a743147f7b #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-609fce90-5507-48c8-be2e-14a743147f7b #s-Frame_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-609fce90-5507-48c8-be2e-14a743147f7b #s-Stop_button_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-609fce90-5507-48c8-be2e-14a743147f7b #s-Stop_icon_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-609fce90-5507-48c8-be2e-14a743147f7b #s-Pause_button_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-609fce90-5507-48c8-be2e-14a743147f7b #s-Pause_icon_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-609fce90-5507-48c8-be2e-14a743147f7b #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-609fce90-5507-48c8-be2e-14a743147f7b #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-609fce90-5507-48c8-be2e-14a743147f7b #s-walkbuddy_button_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-609fce90-5507-48c8-be2e-14a743147f7b #s-walk_buddy_icon_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-609fce90-5507-48c8-be2e-14a743147f7b #s-Frame_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-609fce90-5507-48c8-be2e-14a743147f7b #s-Stop_button_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-609fce90-5507-48c8-be2e-14a743147f7b #s-Stop_icon_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-609fce90-5507-48c8-be2e-14a743147f7b #s-Pause_button_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-609fce90-5507-48c8-be2e-14a743147f7b #s-Start_icon {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-609fce90-5507-48c8-be2e-14a743147f7b #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-609fce90-5507-48c8-be2e-14a743147f7b #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-609fce90-5507-48c8-be2e-14a743147f7b #s-walkbuddy_button_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-609fce90-5507-48c8-be2e-14a743147f7b #s-walk_buddy_icon {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-609fce90-5507-48c8-be2e-14a743147f7b #s-Rich_text_11 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90) ;
  filter: alpha(opacity=90) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-609fce90-5507-48c8-be2e-14a743147f7b #s-Label_28 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90) ;
  filter: alpha(opacity=90) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-609fce90-5507-48c8-be2e-14a743147f7b #s-Label_29 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90) ;
  filter: alpha(opacity=90) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-609fce90-5507-48c8-be2e-14a743147f7b #s-distance_img_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-609fce90-5507-48c8-be2e-14a743147f7b #s-clock_img_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-609fce90-5507-48c8-be2e-14a743147f7b #s-frame {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-609fce90-5507-48c8-be2e-14a743147f7b #s-to {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-609fce90-5507-48c8-be2e-14a743147f7b #s-Button {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-609fce90-5507-48c8-be2e-14a743147f7b #s-walkbuddy_button_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-609fce90-5507-48c8-be2e-14a743147f7b #s-walk_buddy_icon_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-609fce90-5507-48c8-be2e-14a743147f7b #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-609fce90-5507-48c8-be2e-14a743147f7b #s-Ellipse_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-609fce90-5507-48c8-be2e-14a743147f7b #s-Ellipse_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-609fce90-5507-48c8-be2e-14a743147f7b #s-Title {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-609fce90-5507-48c8-be2e-14a743147f7b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}