#s-609fce90-5507-48c8-be2e-14a743147f7b #s-Frame_1 {
  -ms-transform: rotate(0.0deg);
}
#s-609fce90-5507-48c8-be2e-14a743147f7b #s-Recorder_button_1 {
  -ms-transform: rotate(0.0deg);
}
#s-609fce90-5507-48c8-be2e-14a743147f7b #s-Stop_button_1 {
  -ms-transform: rotate(0.0deg);
}
#s-609fce90-5507-48c8-be2e-14a743147f7b #s-Stop_icon_1 {
  -ms-transform: rotate(0.0deg);
}
#s-609fce90-5507-48c8-be2e-14a743147f7b #s-Pause_button_1 {
  -ms-transform: rotate(0.0deg);
}
#s-609fce90-5507-48c8-be2e-14a743147f7b #s-Pause_icon_1 {
  -ms-transform: rotate(0.0deg);
}
#s-609fce90-5507-48c8-be2e-14a743147f7b #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-609fce90-5507-48c8-be2e-14a743147f7b #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-609fce90-5507-48c8-be2e-14a743147f7b #s-Frame_2 {
  -ms-transform: rotate(0.0deg);
}
#s-609fce90-5507-48c8-be2e-14a743147f7b #s-Stop_button_2 {
  stroke-width: 2px;
  stroke: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-609fce90-5507-48c8-be2e-14a743147f7b #s-Stop_icon_2 {
  -ms-transform: rotate(0.0deg);
}
#s-609fce90-5507-48c8-be2e-14a743147f7b #s-Pause_button_2 {
  stroke-width: 2px;
  stroke: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-609fce90-5507-48c8-be2e-14a743147f7b #s-Pause_icon_2 {
  -ms-transform: rotate(0.0deg);
}
#s-609fce90-5507-48c8-be2e-14a743147f7b #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-609fce90-5507-48c8-be2e-14a743147f7b #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-609fce90-5507-48c8-be2e-14a743147f7b #s-walkbuddy_button_5 {
  stroke-width: 2px;
  stroke: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-609fce90-5507-48c8-be2e-14a743147f7b #s-walk_buddy_icon_1 {
  -ms-transform: rotate(0.0deg);
}
#s-609fce90-5507-48c8-be2e-14a743147f7b #s-Frame_3 {
  -ms-transform: rotate(0.0deg);
}
#s-609fce90-5507-48c8-be2e-14a743147f7b #s-Stop_button_3 {
  stroke-width: 2px;
  stroke: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-609fce90-5507-48c8-be2e-14a743147f7b #s-Stop_icon_3 {
  -ms-transform: rotate(0.0deg);
}
#s-609fce90-5507-48c8-be2e-14a743147f7b #s-Pause_button_3 {
  stroke-width: 2px;
  stroke: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-609fce90-5507-48c8-be2e-14a743147f7b #s-Start_icon {
  -ms-transform: rotate(0.0deg);
}
#s-609fce90-5507-48c8-be2e-14a743147f7b #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-609fce90-5507-48c8-be2e-14a743147f7b #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-609fce90-5507-48c8-be2e-14a743147f7b #s-walkbuddy_button_4 {
  stroke-width: 2px;
  stroke: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-609fce90-5507-48c8-be2e-14a743147f7b #s-walk_buddy_icon {
  -ms-transform: rotate(0.0deg);
}
#s-609fce90-5507-48c8-be2e-14a743147f7b #s-Content {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=95);
  filter: alpha(opacity=95);
}
#s-609fce90-5507-48c8-be2e-14a743147f7b #s-Rich_text_11 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 4px 4px 4px 4px;
  padding-top: 17px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  height: calc(100% + -19px);
  width: calc(100% + -4px);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  filter: alpha(opacity=90);
  -ms-transform: rotate(0.0deg);
}
#s-609fce90-5507-48c8-be2e-14a743147f7b #s-Label_28 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #8E8E93;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #8E8E93;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  filter: alpha(opacity=90);
  -ms-transform: rotate(0.0deg);
}
#s-609fce90-5507-48c8-be2e-14a743147f7b #s-Label_29 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #8E8E93;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  filter: alpha(opacity=90);
  -ms-transform: rotate(0.0deg);
}
#s-609fce90-5507-48c8-be2e-14a743147f7b #s-distance_img_2 {
  -ms-transform: rotate(0.0deg);
}
#s-609fce90-5507-48c8-be2e-14a743147f7b #s-clock_img_2 {
  -ms-transform: rotate(0.0deg);
}
#s-609fce90-5507-48c8-be2e-14a743147f7b #s-frame {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #394A55;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #394A55;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #394A55;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #394A55;
  -ms-transform: rotate(0.0deg);
}
#s-609fce90-5507-48c8-be2e-14a743147f7b #s-to {
  stroke-width: 1px;
  stroke: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-609fce90-5507-48c8-be2e-14a743147f7b #s-to {
  stroke-width: 1px;
  stroke: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-609fce90-5507-48c8-be2e-14a743147f7b #s-Button {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #496776;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #496776;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #496776;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #496776;
  border-radius: 2px 2px 2px 2px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  height: 25px;
  width: 4px;
  -ms-transform: rotate(0.0deg);
}
#s-609fce90-5507-48c8-be2e-14a743147f7b #s-walkbuddy_button_6 {
  stroke-width: 2px;
  stroke: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-609fce90-5507-48c8-be2e-14a743147f7b #s-walk_buddy_icon_2 {
  -ms-transform: rotate(0.0deg);
}
#s-609fce90-5507-48c8-be2e-14a743147f7b #s-Ellipse_1 {
  stroke-width: 2px;
  stroke: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-609fce90-5507-48c8-be2e-14a743147f7b #s-Ellipse_2 {
  stroke-width: 2px;
  stroke: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-609fce90-5507-48c8-be2e-14a743147f7b #s-Ellipse_3 {
  stroke-width: 2px;
  stroke: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-609fce90-5507-48c8-be2e-14a743147f7b #s-Title {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-609fce90-5507-48c8-be2e-14a743147f7b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}