#s-6fba51eb-1849-40e4-a465-77074f19ad8a #s-Background {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6fba51eb-1849-40e4-a465-77074f19ad8a #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6fba51eb-1849-40e4-a465-77074f19ad8a #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6fba51eb-1849-40e4-a465-77074f19ad8a #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6fba51eb-1849-40e4-a465-77074f19ad8a #s-myWalks .s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6fba51eb-1849-40e4-a465-77074f19ad8a #s-Walk_History_Title {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6fba51eb-1849-40e4-a465-77074f19ad8a #s-Add_Delete {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6fba51eb-1849-40e4-a465-77074f19ad8a #s-Pets_Title {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6fba51eb-1849-40e4-a465-77074f19ad8a #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6fba51eb-1849-40e4-a465-77074f19ad8a #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6fba51eb-1849-40e4-a465-77074f19ad8a #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6fba51eb-1849-40e4-a465-77074f19ad8a #s-EditProfile {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6fba51eb-1849-40e4-a465-77074f19ad8a #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6fba51eb-1849-40e4-a465-77074f19ad8a #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6fba51eb-1849-40e4-a465-77074f19ad8a #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6fba51eb-1849-40e4-a465-77074f19ad8a #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6fba51eb-1849-40e4-a465-77074f19ad8a #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6fba51eb-1849-40e4-a465-77074f19ad8a #s-Profile_edit_logo {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6fba51eb-1849-40e4-a465-77074f19ad8a #s-Owner_Title {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6fba51eb-1849-40e4-a465-77074f19ad8a #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-6fba51eb-1849-40e4-a465-77074f19ad8a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}