#s-6fba51eb-1849-40e4-a465-77074f19ad8a #s-Background {
  -ms-transform: rotate(0.0deg);
}
#s-6fba51eb-1849-40e4-a465-77074f19ad8a #s-Row_cell_7 {
  position: relative;
}
#s-6fba51eb-1849-40e4-a465-77074f19ad8a #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-6fba51eb-1849-40e4-a465-77074f19ad8a #s-Row_cell_9 {
  position: relative;
}
#s-6fba51eb-1849-40e4-a465-77074f19ad8a #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-6fba51eb-1849-40e4-a465-77074f19ad8a #s-Row_cell_11 {
  position: relative;
}
#s-6fba51eb-1849-40e4-a465-77074f19ad8a #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-6fba51eb-1849-40e4-a465-77074f19ad8a #s-myWalks .s-Row_cell_8 {
  position: relative;
}
#s-6fba51eb-1849-40e4-a465-77074f19ad8a #s-myWalks .s-Row_cell_10 {
  position: relative;
}
#s-6fba51eb-1849-40e4-a465-77074f19ad8a #s-myWalks .s-Row_cell_12 {
  position: relative;
}
#s-6fba51eb-1849-40e4-a465-77074f19ad8a #s-myWalks .s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-6fba51eb-1849-40e4-a465-77074f19ad8a #s-Walk_History_Title {
  -ms-transform: rotate(0.0deg);
}
#s-6fba51eb-1849-40e4-a465-77074f19ad8a #s-Add_Delete {
  -ms-transform: rotate(0.0deg);
}
#s-6fba51eb-1849-40e4-a465-77074f19ad8a #s-Pets_Title {
  -ms-transform: rotate(0.0deg);
}
#s-6fba51eb-1849-40e4-a465-77074f19ad8a #s-Row_cell_1 {
  position: relative;
}
#s-6fba51eb-1849-40e4-a465-77074f19ad8a #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-6fba51eb-1849-40e4-a465-77074f19ad8a #s-Row_cell_3 {
  position: relative;
}
#s-6fba51eb-1849-40e4-a465-77074f19ad8a #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-6fba51eb-1849-40e4-a465-77074f19ad8a #s-Row_cell_5 {
  position: relative;
}
#s-6fba51eb-1849-40e4-a465-77074f19ad8a #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-6fba51eb-1849-40e4-a465-77074f19ad8a #s-my_dogs .s-Row_cell_2 {
  position: relative;
}
#s-6fba51eb-1849-40e4-a465-77074f19ad8a #s-my_dogs .s-Row_cell_4 {
  position: relative;
}
#s-6fba51eb-1849-40e4-a465-77074f19ad8a #s-my_dogs .s-Row_cell_6 {
  position: relative;
}
#s-6fba51eb-1849-40e4-a465-77074f19ad8a #s-EditProfile {
  -ms-transform: rotate(0.0deg);
}
#s-6fba51eb-1849-40e4-a465-77074f19ad8a #s-Ellipse_1 {
  -ms-transform: rotate(0.0deg);
}
#s-6fba51eb-1849-40e4-a465-77074f19ad8a #s-Table_1 {
  border-collapse: separate;
}
#s-6fba51eb-1849-40e4-a465-77074f19ad8a #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-6fba51eb-1849-40e4-a465-77074f19ad8a #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-6fba51eb-1849-40e4-a465-77074f19ad8a #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-6fba51eb-1849-40e4-a465-77074f19ad8a #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-6fba51eb-1849-40e4-a465-77074f19ad8a #s-Profile_edit_logo {
  -ms-transform: rotate(0.0deg);
}
#s-6fba51eb-1849-40e4-a465-77074f19ad8a #s-Owner_Title {
  -ms-transform: rotate(0.0deg);
}
#s-6fba51eb-1849-40e4-a465-77074f19ad8a #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-6fba51eb-1849-40e4-a465-77074f19ad8a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}