#s-83cb6cc9-3f05-48f1-96bd-859efbbfbeed #s-Frame_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83cb6cc9-3f05-48f1-96bd-859efbbfbeed #s-Stop_button_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83cb6cc9-3f05-48f1-96bd-859efbbfbeed #s-Stop_icon_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83cb6cc9-3f05-48f1-96bd-859efbbfbeed #s-Pause_button_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83cb6cc9-3f05-48f1-96bd-859efbbfbeed #s-Pause_icon_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83cb6cc9-3f05-48f1-96bd-859efbbfbeed #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83cb6cc9-3f05-48f1-96bd-859efbbfbeed #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83cb6cc9-3f05-48f1-96bd-859efbbfbeed #s-Frame_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83cb6cc9-3f05-48f1-96bd-859efbbfbeed #s-Stop_button_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83cb6cc9-3f05-48f1-96bd-859efbbfbeed #s-Stop_icon_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83cb6cc9-3f05-48f1-96bd-859efbbfbeed #s-Pause_button_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83cb6cc9-3f05-48f1-96bd-859efbbfbeed #s-Start_icon {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83cb6cc9-3f05-48f1-96bd-859efbbfbeed #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83cb6cc9-3f05-48f1-96bd-859efbbfbeed #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83cb6cc9-3f05-48f1-96bd-859efbbfbeed #s-walkbuddy_button_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83cb6cc9-3f05-48f1-96bd-859efbbfbeed #s-walk_buddy_icon {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83cb6cc9-3f05-48f1-96bd-859efbbfbeed #s-Rich_text_11 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90) ;
  filter: alpha(opacity=90) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83cb6cc9-3f05-48f1-96bd-859efbbfbeed #s-Label_28 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90) ;
  filter: alpha(opacity=90) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83cb6cc9-3f05-48f1-96bd-859efbbfbeed #s-Label_29 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90) ;
  filter: alpha(opacity=90) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83cb6cc9-3f05-48f1-96bd-859efbbfbeed #s-distance_img_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83cb6cc9-3f05-48f1-96bd-859efbbfbeed #s-clock_img_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83cb6cc9-3f05-48f1-96bd-859efbbfbeed #s-frame {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83cb6cc9-3f05-48f1-96bd-859efbbfbeed #s-to {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83cb6cc9-3f05-48f1-96bd-859efbbfbeed #s-Button {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83cb6cc9-3f05-48f1-96bd-859efbbfbeed #s-walkbuddy_button_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83cb6cc9-3f05-48f1-96bd-859efbbfbeed #s-walk_buddy_icon_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83cb6cc9-3f05-48f1-96bd-859efbbfbeed #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83cb6cc9-3f05-48f1-96bd-859efbbfbeed #s-Ellipse_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83cb6cc9-3f05-48f1-96bd-859efbbfbeed #s-Ellipse_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83cb6cc9-3f05-48f1-96bd-859efbbfbeed #s-Title {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-83cb6cc9-3f05-48f1-96bd-859efbbfbeed > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}