#s-8531209f-9e41-40a4-b5c7-be4dd72e907c #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8531209f-9e41-40a4-b5c7-be4dd72e907c #s-route1_container_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8531209f-9e41-40a4-b5c7-be4dd72e907c #s-routeName_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8531209f-9e41-40a4-b5c7-be4dd72e907c #s-routeDistance_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8531209f-9e41-40a4-b5c7-be4dd72e907c #s-routeLikes_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8531209f-9e41-40a4-b5c7-be4dd72e907c #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8531209f-9e41-40a4-b5c7-be4dd72e907c #s-routeCoin_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8531209f-9e41-40a4-b5c7-be4dd72e907c #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8531209f-9e41-40a4-b5c7-be4dd72e907c #s-details_container {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8531209f-9e41-40a4-b5c7-be4dd72e907c #s-time {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8531209f-9e41-40a4-b5c7-be4dd72e907c #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8531209f-9e41-40a4-b5c7-be4dd72e907c #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8531209f-9e41-40a4-b5c7-be4dd72e907c #s-distance {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8531209f-9e41-40a4-b5c7-be4dd72e907c #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8531209f-9e41-40a4-b5c7-be4dd72e907c #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8531209f-9e41-40a4-b5c7-be4dd72e907c #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8531209f-9e41-40a4-b5c7-be4dd72e907c #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-8531209f-9e41-40a4-b5c7-be4dd72e907c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}