#s-8c5c4ab1-f9d2-4070-9682-da2a6ed5193f #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8c5c4ab1-f9d2-4070-9682-da2a6ed5193f #s-Dog {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8c5c4ab1-f9d2-4070-9682-da2a6ed5193f #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8c5c4ab1-f9d2-4070-9682-da2a6ed5193f #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8c5c4ab1-f9d2-4070-9682-da2a6ed5193f #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8c5c4ab1-f9d2-4070-9682-da2a6ed5193f #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8c5c4ab1-f9d2-4070-9682-da2a6ed5193f #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-8c5c4ab1-f9d2-4070-9682-da2a6ed5193f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}