#s-909f49e1-e424-4e0c-9a2a-73a3694fe73a #s-Home_Indicator {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-909f49e1-e424-4e0c-9a2a-73a3694fe73a #s-container {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-909f49e1-e424-4e0c-9a2a-73a3694fe73a #s-routes_searched_at_text {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-909f49e1-e424-4e0c-9a2a-73a3694fe73a #s-sorted_by_text {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-909f49e1-e424-4e0c-9a2a-73a3694fe73a #s-route1_container {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-909f49e1-e424-4e0c-9a2a-73a3694fe73a #s-routeName {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-909f49e1-e424-4e0c-9a2a-73a3694fe73a #s-routeDistance {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-909f49e1-e424-4e0c-9a2a-73a3694fe73a #s-routeLikes {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-909f49e1-e424-4e0c-9a2a-73a3694fe73a #s-routeCoin {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-909f49e1-e424-4e0c-9a2a-73a3694fe73a #s-coin {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-909f49e1-e424-4e0c-9a2a-73a3694fe73a #s-heart {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-909f49e1-e424-4e0c-9a2a-73a3694fe73a #s-route1_container_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-909f49e1-e424-4e0c-9a2a-73a3694fe73a #s-routeName_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-909f49e1-e424-4e0c-9a2a-73a3694fe73a #s-routeDistance_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-909f49e1-e424-4e0c-9a2a-73a3694fe73a #s-routeLikes_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-909f49e1-e424-4e0c-9a2a-73a3694fe73a #s-routeCoin_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-909f49e1-e424-4e0c-9a2a-73a3694fe73a #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-909f49e1-e424-4e0c-9a2a-73a3694fe73a #s-coin_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-909f49e1-e424-4e0c-9a2a-73a3694fe73a #s-route1_container_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-909f49e1-e424-4e0c-9a2a-73a3694fe73a #s-routeName_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-909f49e1-e424-4e0c-9a2a-73a3694fe73a #s-routeDistance_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-909f49e1-e424-4e0c-9a2a-73a3694fe73a #s-routeLikes_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-909f49e1-e424-4e0c-9a2a-73a3694fe73a #s-routeCoin_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-909f49e1-e424-4e0c-9a2a-73a3694fe73a #s-coin_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-909f49e1-e424-4e0c-9a2a-73a3694fe73a #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-909f49e1-e424-4e0c-9a2a-73a3694fe73a #s-route1_container_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-909f49e1-e424-4e0c-9a2a-73a3694fe73a #s-routeName_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-909f49e1-e424-4e0c-9a2a-73a3694fe73a #s-routeDistance_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-909f49e1-e424-4e0c-9a2a-73a3694fe73a #s-routeLikes_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-909f49e1-e424-4e0c-9a2a-73a3694fe73a #s-routeCoin_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-909f49e1-e424-4e0c-9a2a-73a3694fe73a #s-coin_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-909f49e1-e424-4e0c-9a2a-73a3694fe73a #s-heart_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-909f49e1-e424-4e0c-9a2a-73a3694fe73a #s-route1_container_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-909f49e1-e424-4e0c-9a2a-73a3694fe73a #s-routeName_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-909f49e1-e424-4e0c-9a2a-73a3694fe73a #s-routeDistance_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-909f49e1-e424-4e0c-9a2a-73a3694fe73a #s-routeLikes_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-909f49e1-e424-4e0c-9a2a-73a3694fe73a #s-routeCoin_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-909f49e1-e424-4e0c-9a2a-73a3694fe73a #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-909f49e1-e424-4e0c-9a2a-73a3694fe73a #s-coin_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-909f49e1-e424-4e0c-9a2a-73a3694fe73a #s-route1_container_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-909f49e1-e424-4e0c-9a2a-73a3694fe73a #s-routeName_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-909f49e1-e424-4e0c-9a2a-73a3694fe73a #s-routeDistance_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-909f49e1-e424-4e0c-9a2a-73a3694fe73a #s-routeLikes_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-909f49e1-e424-4e0c-9a2a-73a3694fe73a #s-routeCoin_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-909f49e1-e424-4e0c-9a2a-73a3694fe73a #s-coin_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-909f49e1-e424-4e0c-9a2a-73a3694fe73a #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-909f49e1-e424-4e0c-9a2a-73a3694fe73a #s-route1_container_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-909f49e1-e424-4e0c-9a2a-73a3694fe73a #s-routeName_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-909f49e1-e424-4e0c-9a2a-73a3694fe73a #s-routeDistance_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-909f49e1-e424-4e0c-9a2a-73a3694fe73a #s-routeLikes_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-909f49e1-e424-4e0c-9a2a-73a3694fe73a #s-routeCoin_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-909f49e1-e424-4e0c-9a2a-73a3694fe73a #s-coin_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-909f49e1-e424-4e0c-9a2a-73a3694fe73a #s-heart_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-909f49e1-e424-4e0c-9a2a-73a3694fe73a #s-route1_container_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-909f49e1-e424-4e0c-9a2a-73a3694fe73a #s-routeName_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-909f49e1-e424-4e0c-9a2a-73a3694fe73a #s-routeDistance_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-909f49e1-e424-4e0c-9a2a-73a3694fe73a #s-routeLikes_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-909f49e1-e424-4e0c-9a2a-73a3694fe73a #s-routeCoin_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-909f49e1-e424-4e0c-9a2a-73a3694fe73a #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-909f49e1-e424-4e0c-9a2a-73a3694fe73a #s-coin_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-909f49e1-e424-4e0c-9a2a-73a3694fe73a #s-route1_container_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-909f49e1-e424-4e0c-9a2a-73a3694fe73a #s-routeName_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-909f49e1-e424-4e0c-9a2a-73a3694fe73a #s-coin_routeDistance {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-909f49e1-e424-4e0c-9a2a-73a3694fe73a #s-routeLikes_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-909f49e1-e424-4e0c-9a2a-73a3694fe73a #s-routeCoin_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-909f49e1-e424-4e0c-9a2a-73a3694fe73a #s-coin_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-909f49e1-e424-4e0c-9a2a-73a3694fe73a #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-909f49e1-e424-4e0c-9a2a-73a3694fe73a #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-909f49e1-e424-4e0c-9a2a-73a3694fe73a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}