#s-ab0323e5-fec3-45dd-9736-cf449b3336e7 #s-Background_box {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab0323e5-fec3-45dd-9736-cf449b3336e7 #s-User_name_label {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab0323e5-fec3-45dd-9736-cf449b3336e7 #s-password_label {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab0323e5-fec3-45dd-9736-cf449b3336e7 #s-Title_log_in {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab0323e5-fec3-45dd-9736-cf449b3336e7 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab0323e5-fec3-45dd-9736-cf449b3336e7 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab0323e5-fec3-45dd-9736-cf449b3336e7 #s-button {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab0323e5-fec3-45dd-9736-cf449b3336e7 #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-ab0323e5-fec3-45dd-9736-cf449b3336e7 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}