#s-beed6df1-a333-43e9-8313-652ee53403ef #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-beed6df1-a333-43e9-8313-652ee53403ef #s-route1_container_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-beed6df1-a333-43e9-8313-652ee53403ef #s-routeName_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-beed6df1-a333-43e9-8313-652ee53403ef #s-routeDistance_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-beed6df1-a333-43e9-8313-652ee53403ef #s-routeLikes_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-beed6df1-a333-43e9-8313-652ee53403ef #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-beed6df1-a333-43e9-8313-652ee53403ef #s-routeCoin_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-beed6df1-a333-43e9-8313-652ee53403ef #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-beed6df1-a333-43e9-8313-652ee53403ef #s-details_container {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-beed6df1-a333-43e9-8313-652ee53403ef #s-time {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-beed6df1-a333-43e9-8313-652ee53403ef #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-beed6df1-a333-43e9-8313-652ee53403ef #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-beed6df1-a333-43e9-8313-652ee53403ef #s-distance {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-beed6df1-a333-43e9-8313-652ee53403ef #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-beed6df1-a333-43e9-8313-652ee53403ef #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-beed6df1-a333-43e9-8313-652ee53403ef #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-beed6df1-a333-43e9-8313-652ee53403ef #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-beed6df1-a333-43e9-8313-652ee53403ef > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}