#s-beed6df1-a333-43e9-8313-652ee53403ef #s-Table_1 {
  border-collapse: separate;
}
#s-beed6df1-a333-43e9-8313-652ee53403ef #s-header > .valign {
  vertical-align: middle;
}
#s-beed6df1-a333-43e9-8313-652ee53403ef #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-beed6df1-a333-43e9-8313-652ee53403ef #s-route_info > .valign {
  vertical-align: middle;
}
#s-beed6df1-a333-43e9-8313-652ee53403ef #s-route1_container_11 {
  border-top-width: 5px;
  border-top-style: solid;
  border-top-color: #B5D7E4;
  border-bottom-width: 5px;
  border-bottom-style: solid;
  border-bottom-color: #B5D7E4;
  -ms-transform: rotate(0.0deg);
}
#s-beed6df1-a333-43e9-8313-652ee53403ef #s-routeName_11 {
  -ms-transform: rotate(0.0deg);
}
#s-beed6df1-a333-43e9-8313-652ee53403ef #s-routeDistance_11 {
  -ms-transform: rotate(0.0deg);
}
#s-beed6df1-a333-43e9-8313-652ee53403ef #s-routeLikes_11 {
  -ms-transform: rotate(0.0deg);
}
#s-beed6df1-a333-43e9-8313-652ee53403ef #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-beed6df1-a333-43e9-8313-652ee53403ef #s-routeCoin_11 {
  -ms-transform: rotate(0.0deg);
}
#s-beed6df1-a333-43e9-8313-652ee53403ef #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-beed6df1-a333-43e9-8313-652ee53403ef #s-details_container {
  -ms-transform: rotate(0.0deg);
}
#s-beed6df1-a333-43e9-8313-652ee53403ef #s-time {
  -ms-transform: rotate(0.0deg);
}
#s-beed6df1-a333-43e9-8313-652ee53403ef #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-beed6df1-a333-43e9-8313-652ee53403ef #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-beed6df1-a333-43e9-8313-652ee53403ef #s-distance {
  -ms-transform: rotate(0.0deg);
}
#s-beed6df1-a333-43e9-8313-652ee53403ef #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-beed6df1-a333-43e9-8313-652ee53403ef #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-beed6df1-a333-43e9-8313-652ee53403ef #s-Ellipse_1 {
  stroke-width: 4px;
  stroke: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-beed6df1-a333-43e9-8313-652ee53403ef #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-beed6df1-a333-43e9-8313-652ee53403ef > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}