#s-c2bbe693-0999-4f51-bc36-02530c519d6d #s-Bottom {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c2bbe693-0999-4f51-bc36-02530c519d6d #s-Button-blue_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c2bbe693-0999-4f51-bc36-02530c519d6d #s-Button-blue {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c2bbe693-0999-4f51-bc36-02530c519d6d #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c2bbe693-0999-4f51-bc36-02530c519d6d #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c2bbe693-0999-4f51-bc36-02530c519d6d #s-totalcoin .s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c2bbe693-0999-4f51-bc36-02530c519d6d #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c2bbe693-0999-4f51-bc36-02530c519d6d #s-thisweekcoin .s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c2bbe693-0999-4f51-bc36-02530c519d6d #s-thisweekcoin .s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c2bbe693-0999-4f51-bc36-02530c519d6d #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c2bbe693-0999-4f51-bc36-02530c519d6d #s-todaycoin .s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c2bbe693-0999-4f51-bc36-02530c519d6d #s-todaycoin .s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c2bbe693-0999-4f51-bc36-02530c519d6d #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-c2bbe693-0999-4f51-bc36-02530c519d6d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}