#s-c4528c64-30d6-4aa0-995d-b04d6cafd439 #s-Frame_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c4528c64-30d6-4aa0-995d-b04d6cafd439 #s-Stop_button_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c4528c64-30d6-4aa0-995d-b04d6cafd439 #s-Stop_icon_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c4528c64-30d6-4aa0-995d-b04d6cafd439 #s-Pause_button_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c4528c64-30d6-4aa0-995d-b04d6cafd439 #s-Pause_icon_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c4528c64-30d6-4aa0-995d-b04d6cafd439 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c4528c64-30d6-4aa0-995d-b04d6cafd439 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c4528c64-30d6-4aa0-995d-b04d6cafd439 #s-Frame_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c4528c64-30d6-4aa0-995d-b04d6cafd439 #s-Stop_button_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c4528c64-30d6-4aa0-995d-b04d6cafd439 #s-Stop_icon_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c4528c64-30d6-4aa0-995d-b04d6cafd439 #s-Pause_button_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c4528c64-30d6-4aa0-995d-b04d6cafd439 #s-Start_icon {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c4528c64-30d6-4aa0-995d-b04d6cafd439 #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c4528c64-30d6-4aa0-995d-b04d6cafd439 #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c4528c64-30d6-4aa0-995d-b04d6cafd439 #s-Rich_text_11 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90) ;
  filter: alpha(opacity=90) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c4528c64-30d6-4aa0-995d-b04d6cafd439 #s-Label_28 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90) ;
  filter: alpha(opacity=90) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c4528c64-30d6-4aa0-995d-b04d6cafd439 #s-Label_29 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90) ;
  filter: alpha(opacity=90) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c4528c64-30d6-4aa0-995d-b04d6cafd439 #s-distance_img_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c4528c64-30d6-4aa0-995d-b04d6cafd439 #s-clock_img_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c4528c64-30d6-4aa0-995d-b04d6cafd439 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c4528c64-30d6-4aa0-995d-b04d6cafd439 #s-frame {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c4528c64-30d6-4aa0-995d-b04d6cafd439 #s-to {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c4528c64-30d6-4aa0-995d-b04d6cafd439 #s-Button {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c4528c64-30d6-4aa0-995d-b04d6cafd439 #s-walkbuddy_button_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c4528c64-30d6-4aa0-995d-b04d6cafd439 #s-walk_buddy_icon {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c4528c64-30d6-4aa0-995d-b04d6cafd439 #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c4528c64-30d6-4aa0-995d-b04d6cafd439 #s-Ellipse_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c4528c64-30d6-4aa0-995d-b04d6cafd439 #s-Ellipse_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-c4528c64-30d6-4aa0-995d-b04d6cafd439 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}