#s-c6139d91-419c-4ea4-b20f-aea8da7c311a #s-Rich_text_11 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90) ;
  filter: alpha(opacity=90) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c6139d91-419c-4ea4-b20f-aea8da7c311a #s-Label_28 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90) ;
  filter: alpha(opacity=90) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c6139d91-419c-4ea4-b20f-aea8da7c311a #s-Label_29 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90) ;
  filter: alpha(opacity=90) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c6139d91-419c-4ea4-b20f-aea8da7c311a #s-Frame_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c6139d91-419c-4ea4-b20f-aea8da7c311a #s-Stop_button_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c6139d91-419c-4ea4-b20f-aea8da7c311a #s-Stop_icon_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c6139d91-419c-4ea4-b20f-aea8da7c311a #s-Pause_button_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c6139d91-419c-4ea4-b20f-aea8da7c311a #s-Pause_icon_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c6139d91-419c-4ea4-b20f-aea8da7c311a #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c6139d91-419c-4ea4-b20f-aea8da7c311a #s-clock_img_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c6139d91-419c-4ea4-b20f-aea8da7c311a #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c6139d91-419c-4ea4-b20f-aea8da7c311a #s-distance_img_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c6139d91-419c-4ea4-b20f-aea8da7c311a #s-Frame_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c6139d91-419c-4ea4-b20f-aea8da7c311a #s-Stop_button_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c6139d91-419c-4ea4-b20f-aea8da7c311a #s-Stop_icon_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c6139d91-419c-4ea4-b20f-aea8da7c311a #s-Pause_button_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c6139d91-419c-4ea4-b20f-aea8da7c311a #s-Start_icon {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c6139d91-419c-4ea4-b20f-aea8da7c311a #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c6139d91-419c-4ea4-b20f-aea8da7c311a #s-clock_img {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c6139d91-419c-4ea4-b20f-aea8da7c311a #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c6139d91-419c-4ea4-b20f-aea8da7c311a #s-distance_img {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c6139d91-419c-4ea4-b20f-aea8da7c311a #s-walkbuddy_button_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c6139d91-419c-4ea4-b20f-aea8da7c311a #s-walk_buddy_icon {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c6139d91-419c-4ea4-b20f-aea8da7c311a #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c6139d91-419c-4ea4-b20f-aea8da7c311a #s-Ellipse_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c6139d91-419c-4ea4-b20f-aea8da7c311a #s-Ellipse_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c6139d91-419c-4ea4-b20f-aea8da7c311a #s-Title {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-c6139d91-419c-4ea4-b20f-aea8da7c311a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}